<style>
  body {
    background-image: url("./assets/imgs/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 1500px;
  height: 1700x;
 
  }
  </style>
<body>
  <h3 class="h" >KONTAKT INFORMATIONEN</h3>
  <div class="h">
  <p >Sie können uns telefonisch unter 023456789 erreichen.</p>
   <div>TUV Restaurant</div>
   <div> Martinsufer 1 </div>
   <div>54292 Trier </div>

 <h3>Lieferzeiten</h3>
     <div class="days">Montag : 17:30 - 00:30</div>
	  <div class="days">Dienstag : 17:30 - 00:30</div>
	<div class="days">Mittwoch : 17:30 - 00:3 </div>
	<div class="days">Donnerstag : 17:30 - 00:30</div>
		<div class="days">Freitag : 17:30 - 00:30</div>
		<div class="days">Samstag: 17:30 - 00:30</div>
    <div class="days">Sonntag: : 17:30 - 00:30</div>
    <h3>Reservierung</h3> 
    <p> Wir nehmen Reservierungen für Mittag- und Abendessen an.</p>
    <form action="/action_page.php" target="_blank">
      <p><input type="text" placeholder="Name" required name="Name"></p>
      <p><input type="number" placeholder="Personenzahl" required name="People"></p>
      <p><input type="datetime-local" placeholder="Datum und Uhrzeit" required name="date" value="2019-11-16 T 20:00"></p>
      <p><input type="text" placeholder="Ihre Nachricht" required name="Message"></p>
      <p><button (click)="re()">SENDEN</button></p>
    </form>
        </div>
        
        <iframe class="center" width="400" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=martinskloster%20trier&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

</body>