
.header-text-title {
  
    font-size: 30px;
    font-weight: 500;
    padding-bottom:10px;
    text-align: center;
}

.overlay .button {
    width: 100px;
    line-height: 30px;
}
.product-title {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-family: Roboto;
}
.product-price {
    font-size: 1.14286em;
    color: #9f9f9f;
    font-family: Playfair Display;
}


.layout-container {
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}